/* Common styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.description{
    font-size: 16px;
    color: #444343;
}

.btn-primary{
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    background: #F15B22;
}

h3{
    font-size: 40px;
    color: #151414;
}

/* Header */
 
header{
    height: 808px;
    background-image: url(images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    text-align: right;
    padding-right: 230px;
}

header h1{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    padding-top: 216px;
}

header p{
    padding-top: 24px;
    padding-bottom: 32px;
}

/* My failures of previous year */

.my-failures, .my-goals{
    display: flex;
    gap: 80px;
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 0 230px;
}
.my-failure-img img, .my-goals-img img{
    width: 100%;
}

.my-failures h3, .my-goals h3{
    margin-top: 230px;
}

/* .my-failures ul li{
    list-style: none;
    margin-left: 0;
} */

.list-item{
    display: flex;
    gap: 10px;
}

.my-failure-description{
    margin-top: 24px;
    margin-bottom: 16px;
}

/* My goals */