/* Common styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.description{
    font-size: 16px;
    color: #444343;
}

.btn-primary{
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    background: #F15B22;
}

.btn-secondary{
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    color: #F15B22;
    background: #FFFFFF;
}

h3{
    font-size: 40px;
    color: #151414;
}

h4{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}

/* Header */
 
header{
    height: 808px;
    background-image: url(images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    text-align: right;
    padding-right: 230px;
}

header h1{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    padding-top: 216px;
}

header p{
    padding-top: 24px;
    padding-bottom: 32px;
}

/* My failures of previous year */

.my-failures, .my-goals{
    display: flex;
    gap: 80px;
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 0 230px;
}
.my-failure-img img, .my-goals-img img{
    width: 100%;
}

.my-failures h3, .my-goals h3{
    margin-top: 230px;
}

/* .my-failures ul li{
    list-style: none;
    margin-left: 0;
} */

.list-item{
    display: flex;
    gap: 10px;
}

.my-failure-description{
    margin-top: 24px;
    margin-bottom: 16px;
}

/* My plans */
.my-plans{
    padding: 0 230px;
    text-align: center;
    margin-bottom: 130px;
}
.plans{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 60px;
}

.plans h4{
    margin-top: 24px;
    margin-bottom: 16px;
}

/* Call Now */

.call-now{
    margin: 0 230px;
    padding: 34px 64px;
    /* height: 300px; */
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(images/watch.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.call-now h3{
    margin-bottom: 24px;
    color: #FFFFFF;
}